{{ $useExternalImages := .Params.use_external_images | default false }}

{{ if $useExternalImages }}
  <!-- 外部圖片模式：直接使用頁面的 .Params.images -->
  <section class="gallery">
    <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
      {{ range $index, $imgData := .Params.images }}
        {{ $params := $imgData.params | default dict }}
        {{ if ne $params.hidden true }}
          {{ $src := $imgData.src | default $imgData }}
          {{ $thumbnailSrc := $imgData.thumbnail | default $src }}
          {{ $fullSrc := $src }}
          {{ $hdrSrc := $imgData.hdr_src | default "" }}
          {{ $width := $imgData.width | default 600 }}
          {{ $height := $imgData.height | default 400 }}
          {{ $title := $imgData.title | default (path.Base $src) }}
          {{ $aspectRatio := div (float $width) (float $height) }}
          
          {{ $cleanTitle := $title | replaceRE `^\s+` `` | replaceRE `\s+$` `` }}
          {{ $cleanThumbnailSrc := $thumbnailSrc | replaceRE `^\s+` `` | replaceRE `\s+$` `` }}
          {{ $cleanFullSrc := $fullSrc | replaceRE `^\s+` `` | replaceRE `\s+$` `` }}
          {{ $cleanHdrSrc := "" }}
          {{ if $hdrSrc }}
            {{ $cleanHdrSrc = $hdrSrc | replaceRE `^\s+` `` | replaceRE `\s+$` `` }}
          {{ end }}
          
          <a class="gallery-item" 
             href="{{ $cleanFullSrc }}" 
             data-pswp-src="{{ $cleanFullSrc }}" 
             {{ if $cleanHdrSrc }}data-pswp-hdr="{{ $cleanHdrSrc }}"{{ end }}
             data-pswp-width="{{ $width }}" 
             data-pswp-height="{{ $height }}" 
             data-pswp-target="{{ $cleanTitle | urlize }}" 
             title="{{ $cleanTitle }}" 
             itemscope 
             itemtype="https://schema.org/ImageObject" 
             style="aspect-ratio: {{ $aspectRatio }}">
            <figure style="background-color: transparent; aspect-ratio: {{ $aspectRatio }}">
              <img class="lazyload" width="{{ $width }}" height="{{ $height }}" data-src="{{ $cleanThumbnailSrc }}" alt="{{ $cleanTitle }}" />
            </figure>
            <meta itemprop="contentUrl" content="{{ $cleanFullSrc }}" />
            {{ with site.Params.Author }}
              <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
                <meta itemprop="name" content="{{ site.Params.Author.name }}" />
              </span>
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ else }}
  <!-- 原有模式：使用 get-gallery.html 處理圖片 -->
  {{ $gallery := partial "get-gallery.html" . }}
  {{ if $gallery }}
  <section class="gallery">
    <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
      {{ $originalPageImages := .Params.images }}
      {{ $images := slice }}
      {{ range $index, $image := $gallery.images }}
        {{ $originalPageImage := index $originalPageImages $index }}
        {{ $originalPageImageParams := $originalPageImage.params }}
        {{ if ne $originalPageImageParams.hidden true }}
          {{ $src := $originalPageImage.src | default . }}
          {{ $filename := path.Base $src }}
          {{ $imageTitle := $filename }}
          {{ $date := "" }}
          {{ with $image.Exif }}
            {{ $date = .Date }}
            {{ with .Tags.ImageDescription }}
              {{ $title = . }}
            {{ end }}
          {{ end }}
          {{ if ne (default $filename $originalPageImage.title) $filename }}
            {{ $imageTitle = $originalPageImage.title }}
          {{ end }}
          {{ if $image.Params.Date }}
            {{ $date = time $image.Params.Date }}
          {{ end }}
          {{ $imgMeta := index $gallery.imageMetadata $index }}
          {{ $images = $images | append (dict
            "Name" $filename
            "Title" $imageTitle
            "Date" $date
            "image" $image
            "Params" $originalPageImageParams
            "Index" $index
            "OriginalParams" $originalPageImageParams
            "hdr" ($imgMeta.hdr | default false)
            "hdrSrc" ($imgMeta.hdrSrc | default "")
          )
          }}
        {{ end }}
      {{ end }}
      {{ $publishResources := default true .Params.build.publishResources }}
      {{ range $image := $images }}
        {{ $thumbnail := $image.image.Process "fit 600x600 q85" }}
        {{ $full := $image.image.Process "fit 1920x1920 q85" }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}

        <a class="gallery-item" 
           href="{{ $full.RelPermalink }}" 
           data-pswp-src="{{ $full.RelPermalink }}" 
           {{ if $image.hdrSrc }}data-pswp-hdr="{{ $image.hdrSrc }}"{{ end }}
           data-pswp-width="{{ $full.Width }}" 
           data-pswp-height="{{ $full.Height }}" 
           data-pswp-target="{{ .Name | urlize }}" 
           title="{{ .Title }}" 
           itemscope 
           itemtype="https://schema.org/ImageObject" 
           style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
          <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
          </figure>
          <meta itemprop="contentUrl" content="{{ if $publishResources }}{{ $image.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" />
          {{ with site.Params.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ site.Params.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    </div>
  </section>
  {{ end }}
{{ end }}