{{ $gallery := partial "get-gallery.html" . }}
{{ if $gallery }}
<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $useExternalImages := $gallery.useExternalImages }}
    {{ $originalPageImages := .Params.images }}
    
    {{ if $useExternalImages }}
      <!-- 外部圖片模式 -->
      {{ range $index, $imgMeta := $gallery.imageMetadata }}
        {{ $params := $imgMeta.params }}
        {{ if ne $params.hidden true }}
          {{ $thumbnailSrc := $imgMeta.thumbnail }}
          {{ $fullSrc := $imgMeta.src }}
          {{ $width := $imgMeta.width | default 600 }}
          {{ $height := $imgMeta.height | default 400 }}
          {{ $aspectRatio := div (float $width) (float $height) }}
          
          <a class="gallery-item" 
             href="{{ $fullSrc }}" 
             data-pswp-src="{{ $fullSrc }}" 
             {{ if $imgMeta.hdrSrc }}data-pswp-hdr="{{ $imgMeta.hdrSrc }}"{{ end }}
             data-pswp-width="{{ $width }}" 
             data-pswp-height="{{ $height }}" 
             data-pswp-target="{{ $imgMeta.title | urlize }}" 
             title="{{ $imgMeta.title }}" 
             itemscope 
             itemtype="https://schema.org/ImageObject" 
             style="aspect-ratio: {{ $aspectRatio }}">
            <figure style="background-color: transparent; aspect-ratio: {{ $aspectRatio }}">
              <img class="lazyload" width="{{ $width }}" height="{{ $height }}" data-src="{{ $thumbnailSrc }}" alt="{{ $imgMeta.title }}" />
            </figure>
            <meta itemprop="contentUrl" content="{{ $fullSrc }}" />
            {{ with site.Params.Author }}
              <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
                <meta itemprop="name" content="{{ site.Params.Author.name }}" />
              </span>
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    {{ else }}
      <!-- 原有模式：本地處理圖片 -->
      {{ $images := slice }}
      {{ range $index, $image := $gallery.images }}
        {{ $originalPageImage := index $originalPageImages $index }}
        {{ $originalPageImageParams := $originalPageImage.params }}
        {{ if ne $originalPageImageParams.hidden true }}
          {{ $src := $originalPageImage.src | default . }}
          {{ $filename := path.Base $src }}
          {{ $imageTitle := $filename }}
          {{ $date := "" }}
          {{ with $image.Exif }}
            {{ $date = .Date }}
            {{ with .Tags.ImageDescription }}
              {{ $title = . }}
            {{ end }}
          {{ end }}
          {{ if ne (default $filename $originalPageImage.title) $filename }}
            {{ $imageTitle = $originalPageImage.title }}
          {{ end }}
          {{ if $image.Params.Date }}
            {{ $date = time $image.Params.Date }}
          {{ end }}
          {{ $imgMeta := index $gallery.imageMetadata $index }}
          {{ $images = $images | append (dict
            "Name" $filename
            "Title" $imageTitle
            "Date" $date
            "image" $image
            "Params" $originalPageImageParams
            "Index" $index
            "OriginalParams" $originalPageImageParams
            "hdr" ($imgMeta.hdr | default false)
            "hdrSrc" ($imgMeta.hdrSrc | default "")
          )
          }}
        {{ end }}
      {{ end }}
      {{ $publishResources := default true .Params.build.publishResources }}
      {{ range $image := $images }}
        {{ $thumbnail := $image.image.Process "fit 600x600 q85" }}
        {{ $full := $image.image.Process "fit 1920x1920 q85" }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}

        <a class="gallery-item" 
           href="{{ $full.RelPermalink }}" 
           data-pswp-src="{{ $full.RelPermalink }}" 
           {{ if $image.hdrSrc }}data-pswp-hdr="{{ $image.hdrSrc }}"{{ end }}
           data-pswp-width="{{ $full.Width }}" 
           data-pswp-height="{{ $full.Height }}" 
           data-pswp-target="{{ .Name | urlize }}" 
           title="{{ .Title }}" 
           itemscope 
           itemtype="https://schema.org/ImageObject" 
           style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
          <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
          </figure>
          <meta itemprop="contentUrl" content="{{ if $publishResources }}{{ $image.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" />
          {{ with site.Params.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ site.Params.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}