{{ $gallery := "" }}
{{ $images := slice }}
{{ $page := . }} <!-- Capture the page context -->
{{ with .Params.images }}
  {{ range . }}
    {{ $src := .src | default . }}
    {{ $img := resources.GetRemote $src }}
    {{ if $img }}
      {{ $filename := path.Base $src }}
      {{ $parentDir := $page.File.Dir }}
      {{ $img := $img.Content | resources.FromString (printf "%s/%s" $parentDir $filename) }}
      {{ $images = $images | append $img }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $featured := "nil" }}
{{ with .Params.featured_image }}
  {{ $featuredRemote := resources.GetRemote . }}
  {{ if $featuredRemote }}
    {{ $filename := path.Base . }}
    {{ $parentDir := $page.File.Dir }}
    {{ $featured = $featuredRemote.Content | resources.FromString (printf "%s%s" $parentDir $filename) }}
  {{ end }}
{{ end }}

{{ $isSection := .IsSection | default false }}
{{ $hasFeatured := ne $featured "nil" }}

{{ if or (gt (len $images) 0) (and $isSection $hasFeatured) }}
  {{ $cover := cond $hasFeatured $featured (index $images 0) }}
  {{ $thumbnail := $cover.Process "fit 600x600" }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := len $images }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ $imageCount = 0 }}
    {{ $albumCount = 0 }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len .Params.images) }}
    {{ end }}
  {{ end }}

  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}