{{ $gallery := "" }}
{{ $images := slice }}
{{ $page := . }} <!-- Capture the page context -->
{{ with .Params.images }}
  {{ range . }}
    {{ $src := .src | default . }}
    {{ $img := resources.GetRemote $src }}
    {{ if $img }}
      {{ $filename := path.Base $src }}
      {{ $parentDir := $page.File.Dir }}
      {{ $img := $img.Content | resources.FromString (printf "%s/%s" $parentDir $filename) }}
      {{ $images = $images | append $img }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $featured := "nil" }}
{{ with .Params.featured_image }}
  {{ $featuredRemote := resources.GetRemote . }}
  {{ if $featuredRemote }}
    {{ $filename := path.Base . }}
    {{ $parentDir := $page.File.Dir }}
    {{ $featured = $featuredRemote.Content | resources.FromString (printf "%s%s" $parentDir $filename) }}
  {{ end }}
{{ end }}

{{ if gt (len $images) 0 }}

  {{ $covers := slice (index $images 0) }}
  {{ $cover := index $covers 0 }}
  {{ $featured := $featured | default $cover }}
  {{ $thumbnail := $featured.Process "fit 600x600" }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := len $images }}
  {{ $albumCount := 0 }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}